body {
  margin: 0;
  font-family: Arial;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;

}


.logo-colored {
  margin-right: 0; 
}

.logo-bold {
  color: #0b0c2a;
}

.logo-colored {
  color: #fbbc05;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  
  color: #333;
  font-size: 14px;
  position: relative;
}



.btn-acessar {
  background-color: #fbbc05;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold; /* gras */
  font-size: 14px;
}

